@import url(http://adapt.960.gs/assets/css/960.css);

/*body {
	background-color: #F1CF89;
}*/

.login_section {
    margin: 1em;
	height: 400px;
	width: 700px;
	background-color: #F1CF89;
	font-family: Verdana ;
	color: #423E4C ;
	position: relative;

}

 .h2_style {
	text-align: center;
	font-size: 2.5em ;
	margin: 0px ;
/*	padding-top: -60px;*/
	padding-bottom: 20px;
}

  .form_style {
	font-size: 1em ;
	text-align: left;
	float: left;
	margin-left: 50px;	
	margin-top: 10px;
}

  #login_name,#login_pass {
	height: 53px;
	width: 300px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}



 #login_link {
	clear:right;
	margin-top: 15px;

}

 #login_link a {
	display: inline-block;
	padding: 15px;
}

 .icon_style{
	height: 25px;
	width: 25px;
	vertical-align: middle;
}

.buttons{
    width: 80%;
    margin-left: auto;
    margin-right: auto;  
}

#fb_login,#login_bt2,#fb_logout{	
    display:  inline-block;
	height: 50px;
    float: none;
	margin-top: 30px;
/*	margin-left: 30px;*/
    color: white;
    border:0;
/*    margin-right: auto;*/
}
#fb_login{
    width: 200px;
    background: url("../FOOD_files/loginfb.png");
}
#login_bt2{
    width: 150px;
    background: url("../FOOD_files/login2.png");
}
#fb_logout{
    width: 150px;
    background: url("../FOOD_files/login2.png");
}

/*
 #fb_login,#login_bt2,#fb_logout img{
     display: inline-block;
	height: 50px;
	width: 200px;	
}
*/

/*
 #login_bt2,#fb_logout{	
	height: 53px;
	width: 136px;
	border: none ;
	background-color: transparent;
	margin-top: 5px;
}
*/

/*
#login_bt2,#fb_logout img{
	height: 53px;
	width: 136px;	
}
*/

 #sign_up {
	height: 53px;
	width: 136px;
	background-color: #423E4C;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: white ;
	font-family: verdana ;
	font-size: 1.5em;
	border: none ;
}

